@media screen and (min-width: 375px) {
	.howItWorksTitle {
		font-size: 22px;
		text-align: center;
		margin-bottom: 30px;
		font-weight: 700;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 768px) {
	.howItWorksTitle {
		font-size: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.howItWorksTitle {
		font-size: 40px;
	}
}

.howItWorksImage {
	width: 100%;
	height: auto;
}